.image-foto {
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 250px;
}

.nilai-peserta-avatar img {
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 250px;
}

.nilai-peserta-avatar .nilai-peserta-nama {
    color: #212529;
}