.image-foto {
    width: 280px;
    height: 280px;
}

.nilai-peserta-avatar img {
   width: 280px;
   height: 280px;
}

.nilai-peserta-avatar .nilai-peserta-nama {
    color: #212529;
}

.nilai-peserta-urutan,
.nilai-peserta {
    font-size: 40px;
}

.background-duta {
    background: url('../img/duta_or.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}